html{
    min-height: 100%;
    overflow: hidden;
  }
body{
    height: calc(100vh - 8em);
    padding: 4em;
    color: rgba(255,255,255,.75);
    font-family: 'Anonymous Pro', monospace;  
    background-image: url(bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

button {
  font-size: 24px;
  background-color: green;
  border: none;
  font-family: 'Anonymous Pro', monospace;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

button:hover {
  background-color: rgb(0, 226, 19);
}

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 300%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

#welcome {
    font-weight: bold;
    margin-top: 10rem;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
}

a.button5{
  display:inline-block;
  padding:0.46em 1.6em;
  border:0.1em solid #000000;
  margin:0 0.2em 0.2em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#000000;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  background-color:#FFFFFF;
  text-align:center;
  transition: all 0.15s;
  }
  a.button5:hover{
  text-shadow: 0 0 2em rgba(255,255,255,1);
  color:#FFFFFF;
  border-color:#FFFFFF;
  }
  @media all and (max-width:30em){
  a.button5{
  display:block;
  margin:0.4em auto;
  }
  }

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);










/* Animacje */
.anim-typewriter{
    animation: typewriter_1 4s steps(45) 1s 1 normal both,
               blinkTextCursor_1 500ms steps(44) 11 forwards,
               blinkTextCursor_2 500ms steps(45, end) forwards
  }
  @keyframes typewriter_1{
    from{width: 0;}
    to{width: 15em;}
  }
  @keyframes blinkTextCursor_1{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}

  }


.anim-typewriter2{
    animation: typewriter_2 3s steps(45) 5s 1 normal both,
               blinkTextCursor_3 500ms steps(44) 5s 11 forwards,
               blinkTextCursor_4 500ms steps(45, end) 5s forwards
  }
  @keyframes typewriter_2{
    from{width: 0;}
    to{width: 15em;}
  }
  @keyframes blinkTextCursor_3{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

.fade-in {
  animation: fadeIn 2s linear 6s 1 normal both
}
  @keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 100;}
  }


  .css-typing p {
    border-right: .15em solid orange;
    font-family: "Anonymous-Pro", monospace;
    font-size: 22px;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(31, 231, 31)
  }
  .css-typing p:nth-child(1) {
    width: 5.5em;
    -webkit-animation: type3 2s steps(25, end);
    animation: type3 2s steps(25, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(2) {
    width: 10em;
    opacity: 0;
    -webkit-animation: type3 2s steps(28, end);
    animation: type3 2s steps(28, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(3) {
    width: 59.2em;
    opacity: 0;
    -webkit-animation: type3 7.5s steps(150, end);
    animation: type3 7.5s steps(150, end);
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing p:nth-child(4) {
    width: 64.2em;
    opacity: 0;
    -webkit-animation: type3 7.5s steps(150, end);
    animation: type3 7.5s steps(150, end);
    -webkit-animation-delay: 11.5s;
    animation-delay: 11.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(5) {
    width: 33.5em;
    opacity: 0;
    -webkit-animation: type3 5s steps(80, end);
    animation: type3 5s steps(80, end);
    -webkit-animation-delay: 19s;
    animation-delay: 19s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing p:nth-child(6) {
    width: 59.7em;
    opacity: 0;
    -webkit-animation: type3 7.5s steps(150, end);
    animation: type3 7.5s steps(150, end);
    -webkit-animation-delay: 25s;
    animation-delay: 25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing p:nth-child(7) {
    width: 42em;
    opacity: 0;
    -webkit-animation: type3 6s steps(100, end);
    animation: type3 6s steps(100, end);
    -webkit-animation-delay: 32.5s;
    animation-delay: 32.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing p:nth-child(8) {
    width: 51.5em;
    opacity: 0;
    -webkit-animation: type3 6s steps(110, end);
    animation: type3 6s steps(110, end);
    -webkit-animation-delay: 38.5s;
    animation-delay: 38.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .css-typing p:nth-child(9) {
    width: 75em;
    opacity: 0;
    -webkit-animation: type3 6s steps(135, end);
    animation: type3 6s steps(135, end);
    -webkit-animation-delay: 44.5s;
    animation-delay: 44.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .css-typing p:nth-child(10) {
    width: 40em;
    opacity: 0;
    -webkit-animation: type3 5s steps(160, end);
    animation: type3 5s steps(160, end);
    -webkit-animation-delay: 50.5s;
    animation-delay: 50.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .css-typing p:nth-child(11) {
    width: 56em;
    opacity: 0;
    -webkit-animation: type3 5s steps(160, end);
    animation: type3 5s steps(160, end);
    -webkit-animation-delay: 55.5s;
    animation-delay: 55.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .css-typing p:nth-child(12) {
    width: 68em;
    opacity: 0;
    -webkit-animation: type3 5s steps(160, end);
    animation: type3 5s steps(160, end);
    -webkit-animation-delay: 61.5s;
    animation-delay: 61.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .css-typing p:nth-child(13) {
    width: 25em;
    opacity: 0;
    -webkit-animation: type3 2s steps(70, end);
    animation: type3 2s steps(70, end);
    -webkit-animation-delay: 66.5s;
    animation-delay: 66.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }


  .css-typing-container.skip-animation p {
    animation: none !important;
    opacity: 1 !important;
    border: none !important;
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }

  /* przycisk */
  #mission-button {
    font-size: 24px;
    font-family: 'Anonymous Pro', monospace;
    color: white;
    background-color: green;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    animation: fadeIn 1s ease-out 68.5s forwards;
    opacity: 0;
  }

  #mission-button:hover {
    background-color:rgb(0, 226, 19);
  }
  
  @keyframes blink {
    50% {
      opacity: 0.5;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  